body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f8f8f8;
}

/* NAVBAR STYLE */


.navbar-default .navbar-nav > li > a {

}

.navbar-default .navbar-brand {
  font-size: 3em;
}



/* ADDED PADDING IN NAVBAR */


.navbar {
    padding:15px;
     -webkit-transition: background .8s ease-out,padding .8s ease-out;
        -moz-transition: background .8s ease-out,padding .8s ease-out;
        transition: background .8s ease-out,padding .8s ease-out;
}


/* CLASS FOR REMOVING PADDING IN NAVBAR */


.navbar-pad-original {
      padding:0px;
}


.active li {
  background-color: green;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #e7e7e7;
  border-bottom: 2px solid red;
}

.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}


@media screen and (max-width: 767px){ /* On cache le menu pour les mobiles et petits périphériques */
  .bloc:first-of-type {
    padding-top: 30px;
  }
}


/* BLOCS TEXTES */

.bloc {
  margin: 40px 0;
  border-bottom: 1px dotted grey;
  padding-bottom: 40px;
}

.bloc-texte {
  letter-spacing: -1px;
  font-size: 50px;
}
